
/*.location {*/
/*    background-color: #252525;*/
/*    padding: 20px 15px;*/
/*    padding-top: 170px;*/
/*}*/
/*.location p {*/
/*    display: inline-block;*/
/*    font-size: 13px;*/
/*    text-decoration: none;*/
/*    color: white;*/
/*}*/
/*.location i {*/
/*    margin: 0 10px;*/
/*}*/
/*.location a p:hover {*/
/*    color: #FADD1B;*/
/*}*/



.content {
    margin: 40px 0;
    display: flex;
}
.filter {
    width: 22%;
}
.head_danh_muc {
    background-color: #272727;
    padding: 15px 0;
}
.head_danh_muc p {
    display: inline-block;
    padding-left: 10px;
    font-size: 13px;
    color: #FFE11B;
}
.head_danh_muc i {
    float: right;
    padding-right: 10px ;
}
.list_danh_muc {
    padding: 10px;
    background-color: #272727;
    margin-top: 1px;
}
.list_danh_muc a {
    text-decoration: none;
    color: #DDDDDD;
    font-size: 13px;
}
.list_danh_muc a p {
    padding-bottom: 10px;
}
.danh_muc {
    margin-bottom: 10px;
}
.size {
    background-color: #272727;
    padding-bottom: 20px;
}
.size a {
    text-decoration: none;
    color: #DDDDDD;
    font-size: 12px;
    display: inline-block;
    background-color: #343434;
    height: 33px;
    width: 33px;
    text-align: center;
    line-height: 33px;
    margin-top: 5px;
}
.text_size {
    width: 200px;
    margin-left: 10px;
}
.text_size a:hover {
    color: #FADD1B;
}
.mau_sac {
    margin-top: 10px;
}

.pick_color {
    background-color: #272727;
    padding: 20px 0 20px 10px;
    margin-top: 2px;
}
.red,
.blue,
.brown,
.black,
.pink,
.White,
.yellow,
.green {
    border-radius: 5px;
}
.red {
    background-color: #ED130B;
}
.blue {
    background-color: #4A8EF9;
}
.brown {
    background-color: #D16B34;
}
.black {
    background-color: #000000;
}
.pink {
    background-color: #F422DC;
}
.White {
    background-color: #FFFFFF;
}
.yellow {
    background-color: #EDED00;
}
.green {
    background-color: #81D742;
}
.pick_color a {
    display: inline-block;
    padding: 20px 20px;
}


.img_info_pro {
    width: 100%;
}
.title_pro {
    padding-left: 30px;
    color: #B1B1B1;
}
.row_pro {
    display: flex;
}
.product {
    margin: 15px;
    width: 100%;
}
.img_pro {
    position: relative;
}
.text_sale {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: #C40E0E;
    font-size: 10px;
    padding: 7px;
}
.text_het_hang {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #272727;
    font-size: 10px;
    padding: 7px;
}
.img_pro img {
    width: 255px;
    height: 255 px;
    border-style: solid;
    border-color: #727272;
    border-width: 1px;
}
.img_pro a:hover img {
    border-color: white;
    transition: all 0.5s ease;
    transform: scale(1.01);
} 
.info_pro {
    font-size: 13px;
}
.info_pro a {
    text-decoration: none;
}
.info_pro p {
    color: white;
    text-decoration: none;
}
.info_pro p:hover {
    color: #FADD1B;
}
.info_pro span {
    color: #FADD1B;
}
.flex_line_through {
    display: flex;
}
.line-through p {
    text-decoration: line-through;
    margin-left: 120px;
    color: #727272;
}